.footer-info-container {
  background-color: #194D75;
  height: 13em;
}
.footer-info-container > *{
  color: #DDD;
  margin: 1vw;
}

.footer-info-container > a {
  color: #FFF;
  display: inline-block;
  height: 30%;
  position: relative;
}

.footer {
  margin-top: 3vh;
  clear: both;
}

.footer > * {
  color: #555;
}

#icc-logo {
  background:url("/img/logo-footer.png") no-repeat;
  width: 205px;
  height: 127px;
}

@media screen and (max-width: 700px) {
  #icc-logo {
    background: url("/img/logo-footer-small.png") no-repeat;
    width: 76px;
    height: 94px;
  }

  .footer-info-container {
    height: 10em;
  }

  .footer-info-container > a {
    height: 50%;
  }
}
