#compile-logo-brand {
  filter: invert(10%);
}

#compile-logo-center {
  width: 40%;
  height: 40%;
}

#contact {
  margin-bottom: 10vh;
}

#github-icon {
  filter: invert(100%);
}

.icon {
  width: 5em;
  height: 5em;
}

.jumbotron {
  padding: 5vw;
  margin-top: 3em;
}

#main-content {
  margin-left: 10vw;
  margin-right: 10vw;;
}

.mono > p {
  font-family: "Lucida Console", Monaco, monospace;
  line-height: 1.4;
}

.mono > .h1 {
  font-weight: bold;
}

nav {
  clear: both;
}

.navbar {
  background-color: #194D75;
}

.navbar-nav > .active{
  background-color: #3C7E98;
}


@media screen and (max-width: 700px) {
  #main-content {
     margin: 0px;
  }
}
