#about {
  height: auto;
  margin-bottom: 2vh;
}

#compile-logo-brand {
  transform: scale(0.05, 0.05);
  filter: invert(90%);
}

#compile-logo-center {
  transform: scale(0.5, 0.5);
}

#contact {
  height: 100%;
}

.container-fluid > p {
  margin-left: 10vw;
  margin-right: 10vw;
}

#github-icon {
  filter: invert(100%);
}

.icon {
  width: 4em;
  height: 4em;
}

.jumbotron {
  padding: 5vw;
}

.mono > p {
  font-family: "Lucida Console", Monaco, monospace;
}

.navbar {
  background-color: #194D75;
}

.navbar-nav > .active{
  background-color: #3C7E98;
}
